#auto {
    border: 1px black solid;
  }
  #input {
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 80%;
    font-size: 16px;
    padding: 5px 5px 6px 12px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    margin-right: 50px;
  }
  #search {
    border: 1px solid #b1d4e0;
  }
  #box {
    background-color: #5885af;
  }
  label {
    display: inline-block;
    width: 120px;
    vertical-align: top;
  }
  
  .required {
    color: red;
  }
  .identifier {
    margin-top: 10px;
  }
  .table-hover tbody tr:hover td {
    background: #5499C7;
  }
  #auto {
    border: 1px black solid;
  }
  #input {
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 80%;
    font-size: 16px;
    padding: 5px 5px 6px 12px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    margin-right: 50px;
  }
  #search {
    border: 1px solid #b1d4e0;
  }
  #box {
    background-color: #5885af;
  }
  label {
    display: inline-block;
    width: 120px;
    vertical-align: top;
  }
  
  .required {
    color: red;
  }
  .identifier {
    margin-top: 10px;
  }
  .table-hover tbody tr:hover td {
    background: #5499C7;
  }
  
  